body {
  background-color: #EEEFF1;
  margin: 0;
  padding: 0;
}

#cover {
  background:
  url("https://i.ytimg.com/vi/Ci8dOMPUgfM/maxresdefault.jpg") no-repeat center bottom;
  background-size:cover;
  background-attachment: fixed;
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;
}

.cover-content {
  background: rgba(255, 255, 255, 0.9);
  z-index: 10000;
}

.navigation {
  background-color: rgba(255, 255, 255, 0.9);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
}

.gap-30 {
  width:100%;
  height:30px;
}

ul.a {
  padding: 0;
}

li.a {
  color: #14213D;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 16px 20px;
  padding: 0;
  text-transform: uppercase;
 }

ul.projects {
	list-style-type: none;
}

ul.projects li.b {
  color: #14213D;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: justify;
  line-height:200%;
}

ul.nested{
	list-style-type: none;
}

.sciences .courses .arts .work .contact{
	background-color:E5A227;
	box-sizing: border-box;
	width:100%;
	padding: 20px 0px;
	margin: 20px auto;
	color: whitesmoke;
	text-align: center;
}

.projects-button {
  box-sizing: border-box;
  width:100%;
  padding: 20px 0px;
  background-color:#D6DBDF;
  opacity: 0.9;
  margin: 20px auto;
  color: #14213D;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-align: center;
}

.projects-button:hover {
	background: #979A9A;
}

.image{
  width:100%;
}

.active{
	background-color:#D6DBDF;
	color:#14213D;
}

.description {
	background-color:whitesmoke;
}

#logo {
  color: #BB2909;
  font-family: 'Raleway', cursive;
  font-size: 32px;
  padding: 0px 50px;
}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
}

h1 {
  color: #BB2909;
  font-family: 'Raleway';
  font-size: 72px;
  line-height: 60px;
  padding: 20px 10px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}

h3 {
  color: #14213D;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;

}

h4 {
  color: #14213D;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: italic;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: justify;
}

a {
  text-decoration: none;
}

.products {
  background: #EEEFF1;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 45%;
}

.product img {
  width:100%;
}

.blue {
  color: #14213D !important;
}

.btn{
	text-align:center;
}
